/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */

.slider-main{position:relative;}
.nivoSlider{position:relative;	width:100%;	height:auto; overflow: hidden;}
.nivoSlider img{position:absolute;	top:0px; left:0px;max-width: none;}
.nivo-main-image{display: block !important;position: relative !important; width: 100% !important;}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;	background:white; 	filter:alpha(opacity=0); opacity:0;}
/* The slices and boxes in the Slider */
.nivo-slice { display:block; position:absolute; z-index:5; height:100%; top:0;}
.nivo-box {display:block; position:absolute; z-index:5;	overflow:hidden;}
.nivo-box img { display:block; }
/* Caption styles */
.nivo-html-caption{display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {position:relative; z-index:999; cursor:pointer; opacity:1 !important;}
.nivo-directionNav a.nivo-prevNav {float:left; background-position:35px center; left:-30px;}
.nivo-directionNav a.nivo-nextNav {float:right; background-position:-25px center; right:-30px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav{text-align:center; padding:0; position:absolute; bottom:20px; left:0; right:0; width:100%; z-index:6; margin:auto;}

.nivo-controlNav a {cursor:pointer;border:solid 7px #fff; display: inline-block; height:4px;width:4px; margin:0 7px 0 0; text-indent:-9999px; border-radius:14px;	-moz-border-radius:14px; -webkit-border-radius:14px;-o-border-radius:14px;}

.nivo-controlNav a.active{font-weight:bold; background:#f00;}
.nivo-directionNav{width:100%; margin:auto; position:absolute; top:46%;}
.nivo-directionNav a {border: 0 none; display: block; height:60px; opacity:0; text-indent: -9999px; transition: all 200ms ease-in-out 0s; width:60px; background:url(../images/slide-nav.png) no-repeat; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; background-color: rgba(255, 255, 255, 0.6);}
.nivo-directionNav a:hover{background-color: #34c6f6;}
.slider-main:hover .nivo-directionNav a{opacity:1;}
/* Caption styles */
.nivo-caption {position:absolute; top:38%; margin:auto; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color:#fff; z-index:8; padding:0; display:none;text-align:center; margin:auto;}
.slide_info {width:100%; margin:auto; padding:35px 0; background-color: rgba(61, 61, 61, 0.1);}
.slider-content {width:42%; margin:auto;}
.slide_info h2{ display:block;  font:32px/32px 'Roboto', sans-serif; color:#ffffff; padding:0 0 20px; text-transform:uppercase; font-weight:900; margin:0; text-shadow:1px 1px 1px #b3b2b2;}
.slide_info p{font:400 16px/24px 'Roboto Condensed', sans-serif; padding:0; font-weight:400; display:block; max-width:80%; text-align:center; margin:0 auto;}
a.sldbutton{font:900 14px/20px 'Roboto'; color:#fff; padding:15px 35px; background:#34c6f6; border-radius:5px; display:inline-block; margin:15px 0 0 0; border-radius:50px; text-transform:uppercase; text-shadow:1px 1px 0 rgba(0,0,0,0.3);}
a.sldbutton:hover{background:#454545;}
.slide_info h2 span {font-weight:300; color:#454545;}
.slider-wrapper{width:100%; min-height:650px; background:url(../images/loading.gif) no-repeat center center #ffffff;}
